src/bin/
src/obj/
src/.vs/
devops/rabbitMQ/rabbitmq/data/.erlang.cookie
devops/rabbitMQ/rabbitmq/data/
devops/rabbitMQ/rabbitmq/
src/Infra.Pipelines/obj/
src/Core.Pipelines/obj/
src/SamplePipeline.Api/obj/
src/SamplePipeline/obj/
src/Core.Pipelines/bin/
src/Infra.Pipelines/bin/
src/SamplePipeline.Api/bin/
src/SamplePipeline/bin/
src/SampleProject.Api/bin/
src/SampleProject.Api/obj/
src/SampleProject/bin/
src/SampleProject/obj/
src/SampleProject.Rpa/bin/
src/SampleProject.Rpa/obj/
src/SampleProjectLib/bin/
src/SampleProjectLib/obj/
src/SampleProjectxUnitTest/bin/
src/SampleProjectxUnitTest/obj/
src/SampleProject/.vs/
src/.sonarqube/
src/SampleProjectxUnitTest/TestResults/
src/SonarTestResult/
